<div class="panel panel-default">
  <div class="panel-heading">
    <h6>post_author</h6>
  </div>
  <div class="panel-body">
    <p>post content post content post content post content</p>
  </div>
  <div class="panel-footer">
    <div class="btn--group btn-justified" role="group" aria-label="Action buttons">
      <button type="button" class="btn btn-primary" title="Rate up">Like
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="badge">0</span>
      </button>
    </div>
  </div>
</div>