<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">JS</a>
  </div>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/timeline"><span class="glyphicon glyphicon-calendar"> Linha do tempo</span></a></li>
    <li routerLinkActive="active"><a routerLink="/postar"><span class="glyphicon glyphicon-pencil"> Postar</span></a></li>
  </ul>
  <!-- <ul class="nav navbar-nav pull-right">
    <li><a href="#">User</a></li>
  </ul> -->
</nav>